
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    <title>TEST Challenge</title>
    <link href="hacker.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TEST Challenge</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" id="candidateName"></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">

        <div id="message"></div>

        <div class="jumbotron">
            <h1 data-question-id="">Test You skills Challenge</h1>
            <p>The quick brown frog jumped over a lazy dog.The quick brown frog jumped over a lazy dog
                The quick brown frog jumped over a lazy dog
                The quick brown frog jumped over a lazy dog.The quick brown frog jumped over a lazy dog.
                The quick brown frog jumped over a lazy dog.The quick brown frog jumped over a lazy dog.
                The quick brown frog jumped over a lazy dog.The quick brown frog jumped over a lazy dog.The quick brown frog jumped over a lazy dog.The quick brown frog jumped over a lazy dog.
            </p>
            <p>To begin, enter your passcode.</p>
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" id="candidateInput" placeholder="Passcode">
                </div>
                <button type="submit" class="btn btn-primary">Begin »</button>
            </form>
        </div>

        <div class="row tall-row">
            <div class="col-md-12">
                <p>&copy; 2017 Copyright.</p>
            </div>
        </div>

    </div>

    <script src="jquery-3.2.1.min.js"></script>
    <script src="bootstrap.min.js"></script>
    <script src="hacker.min.js"></script>

</body>
</html>
